<!DOCTYPE html>
{% load static %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script type="text/javascript">


    function get_geo(){
        if(!!navigator.geolocation){
            navigator.geolocation.getCurrentPosition(successCallback,errorCallback);
        }
        else{
            errorCallback();
        }
    }
    function successCallback(position){
        var lat = position.coords.latitude;
        var lng = position.coords.longitude;
        var url = "gps/"+lng+"/"+lat;
        if("{{k}}" == ''){
        var result = $.get(url, function(data){
                        url = "covid_value/"+data;
                    var result = $.get(url, function(data2){
                    document.getElementById("values").innerHTML = data2;
                    });
        });
        }
        else{
        var result = $.get(url, function(data){
                        url = "covid_value/"+"{{k}}";
                    var result = $.get(url, function(data2){
                    document.getElementById("values").innerHTML = data2;
                    });
        });
        }
    }
    function errorCallback(){
                document.getElementById("values").innerHTML = "서울";
}

    get_geo();

    </script>
</head>
<body>
    <table id="values" border="1">
    </table>
</body>
 {% endblock %}
</html>
