<div id="location">
<script src="http://code.jquery.com/jquery-latest.js"></script>
<script type="text/javascript">
        function get_geo(){
            if(!!navigator.geolocation){
                navigator.geolocation.getCurrentPosition(successCallback,errorCallback());
            }
            else{
                errorCallback();
            }
        }
        function successCallback(position){
            var lat = position.coords.latitude;
            var lng = position.coords.longitude;
            var url = "gps/"+lng+"/"+lat;
            var result = $.get(url, function(data){
                document.getElementById("location").innerHTML = data;
	            });
        }
        function errorCallback(){
                document.getElementById("location").innerHTML = "서울";
}
        get_geo();
    </script>
</div>
